body{
    width: 100%;
    height: 100%;
    background: url(./../img/背景.png) no-repeat;
    background-size: cover;
}
.ym-logo h1{
    margin-top: 15px;
    width: 267px;
    height: 90px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}
.ym-logo h1 a{
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background: url(./../img/logo.png) no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.loginAndRegBox{
    width: 500px;
    height: 420px;
    background-color:rgba(255, 255, 255, .75);
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.loginAndRegBox h3{
    margin-top: 10px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 35px;
    letter-spacing: 10px;
    font-family: "Microsoft YaHei";
    color: #00a0e9;
}

.reg-box,.findpwd-box{
    display: none;
}
.login-box,.reg-box,.findpwd-box{
    
    padding: 30px 80px 0px;
}

.login-box span{
    float: right;
}

.login-box span a{
    margin: 0 5px;
}

.layui-form-item{
    position: relative;
}

.layui-icon{
    position: absolute;
    left: 10px;
    top: 10px;
}

.layui-form-item .layui-input{
    padding-left: 32px;
}


.reg-box a,.findpwd-box a{
    float: right;
}

.findpwd-box .layui-breadcrumb{
    visibility:visible;
}
.fpwd-nav{
    text-align: center;
}
.fpwd-nav .layui-breadcrumb cite{
    color: #00a0e9;
    font-style: normal;
}
.fpwd-content>div{
    padding-top: 40px;
}

.fpwd{
    display: none;
}
.fpwd-content{
    margin-bottom: 30px;
}

.fpwd-content .codeval{
    padding: 0;
    text-align: center;
}
.fpwd-content .btn-getemailcode{
    width: 134px;
}

.finalydiv,.finalydiv i{
    position: relative;
    left: 0px;
    top: 0px;
    height: 100px;
    font-size: 30px;
    text-align: center;
    line-height: 100px;
    color: #00a0e9;
}
